body{
    height: 100vh;
    display: flex;
    align-items:baseline;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1587215231250-c0c8e03eb455?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    bottom: 10px;
    color: rgb(229, 255, 0) ;
}

fieldset{
    border-radius: 30px;
    border: 2px solid rgb(255, 200, 0);
    background-color: none;
    font-style: unset;
}

legend, label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    color: rgb(234, 255, 0);
}

input{
    border-radius: 30px;
    border: rgb(255, 200, 0);
    background-color:rgb(255, 200, 0);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    width: 300px;
    padding: 1rem;
    margin: 2rem;
    cursor: pointer;
}