body{
    height: 100vh;
    background-color: gray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    bottom: 10px;
    color: rgb(255, 255, 255) ;
}

input{
    border-radius: 30px;
    border: rgb(0, 0, 0);
    background-color:rgba(0, 247, 255, 0.636);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: center;
    width: 200px;
    padding: 1rem;
    margin: 2rem;
    cursor: pointer;
}