body{
    height: 100vh;
    display: flex;
    align-items:baseline;
    justify-content: center;
    background-color: gray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

input{
    border-radius: 30px;
    border: rgb(0, 0, 0);
    background-color:rgba(0, 247, 255, 0.636);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    width: 300px;
    padding: 1rem;
    margin: 2rem;
    cursor: pointer;
}

